body{
    background-image: url('backgound.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ccc;
    text-align: center;
}

input[type="file"]{
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 1.2em;
    border-radius: 5px;
    border: 2px solid rgb(33, 33, 211);
    background-color: #f5f5f5;
    color: #444;
}

input[type="submit"]{
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 1.2em;
    align-items: center;
    border-radius: 5px;
    background-color: #1857e0; /* blue*/
    color: white;
    border: 2px solid rgb(33, 33, 211);
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.result-container img {
    width: 50%; /* or any other desired width */
    height: 50%; /* or any other desired height */
    align-items: center;
    margin-bottom: 20px; /* add some margin below the image */
    display: block; /* Make the image a block element */
    margin: 0 auto;
}
